html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.container {
  margin: 0 auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.sidebar {
  font-weight: 300;
  width: 20%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: RGB(41, 217, 194);
  clear: both;
  display: inline-block;
  border-right: 1px solid RGB(41, 217, 194); }
  .sidebar .pageTitle h1 {
    font-size: 60px;
    color: white;
    width: 100%;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center; }
  .sidebar .subtitle {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px; }
    .sidebar .subtitle a {
      color: white;
      text-decoration: none; }
  .sidebar .title {
    font-size: 20px;
    color: white;
    width: 100%; }
    .sidebar .title h1 {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
  .sidebar .subtitle {
    text-align: center;
    font-weight: 300;
    color: white;
    font-size: 10px; }
    .sidebar .subtitle a {
      color: white;
      text-decoration: none; }
  .sidebar form input {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 1px RGB(41, 217, 194) solid;
    height: 20px;
    font-size: .8em;
    padding: 20px; }
  .sidebar form .contactBio {
    height: 75px; }
  .sidebar form .submitContact {
    width: 100%;
    border: 0;
    padding: 10px;
    color: white;
    font-size: 25px;
    background-color: transparent; }

.contactList {
  float: right;
  width: 80%;
  margin: 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  list-style: none;
  margin-right: 0 auto;
  margin-right: 0 auto; }
  .contactList .singleContact {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 200px;
    width: 200px; }
    .contactList .singleContact:last-child {
      margin-right: 0; }
    .contactList .singleContact:nth-child(4n) {
      margin-right: 0; }
    .contactList .singleContact:nth-child(4n+1) {
      clear: left; }
    .contactList .singleContact:nth-child(odd) {
      background-color: RGB(1, 162, 166); }
    .contactList .singleContact:nth-child(even) {
      background-color: RGB(41, 217, 194); }
    .contactList .singleContact img {
      opacity: .4;
      height: 200px;
      width: 200px; }
      .contactList .singleContact img:hover {
        opacity: 1;
        transition: 1s all ease; }
    .contactList .singleContact h1 {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      font-style: normal;
      padding-bottom: 10px;
      border-bottom: 1px white solid; }
      .contactList .singleContact h1 .fa-remove {
        color: white;
        opacity: .5; }
        .contactList .singleContact h1 .fa-remove:hover {
          color: red;
          cursor: pointer;
          transition: 1s all ease;
          opacity: 1; }
  .contactList .fa {
    color: white;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-weight: bold; }
