<nav>

  <div class="navRight"><h2> <a href="/#">home</a> + <a href="/#about">about</a> </h2></div>

  <div class="navLeft"><h1>ficlist</h1></div>

</nav>

<li class="singleContact" data-id="{{ _id }}">
  
  <p class="contactFullName">
  <h1>{{ name }} <i class="fa fa-remove" id="deleteContact"></i></h1>
  </p>

  <p class="bio">{{bio}}</p>

</li>